<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar color="medium">
      <ion-buttons slot="start">
        <ion-back-button style="color: black;" defaultHref="/"></ion-back-button>
      </ion-buttons>
      
      <ion-title style="color: black;">Shirt</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col col-6 col-sm-3>
        <ion-card style="height: 220px; border: 2px solid black;">
          <img  src="https://m.media-amazon.com/images/I/91vp-4R7SQL._AC_UL320_.jpg" style="width: 200px; height: 220px;">
        </ion-card>
      </ion-col>
        <ion-col col-6 col-sm-3>
          <ion-card style="height: 220px; border: 2px solid black;">
            <img  src="https://m.media-amazon.com/images/I/51Ye9RDrR3L._AC_SX522_.jpg" style="width: 200px; height: 220px;">
          </ion-card>
        </ion-col>
      </ion-row>
    <ion-row>
      <ion-col col-6 col-sm-3>
        <ion-card style="height: 220px; border: 2px solid black;">
          <img  src="https://m.media-amazon.com/images/I/813PRiyIcPL.__AC_SX300_SY300_QL70_FMwebp_.jpg" style="width: 200px; height: 220px;">
        </ion-card>
      </ion-col>
      <ion-col col-6 col-sm-3>
        <ion-card style="height: 220px; border: 2px solid black;">
          <img  src="https://m.media-amazon.com/images/I/51nqa1O5NVL._AC_UL320_.jpg" style="width: 200px; height: 220px;">
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6 col-sm-3>
        <ion-card style="height: 220px; border: 2px solid black;">
          <img  src="https://m.media-amazon.com/images/I/71Jb0tp9StL._AC_UL320_.jpg" style="width: 200px; height: 220px;">
        </ion-card>
      </ion-col>
      <ion-col col-6 col-sm-3>
        <ion-card style="height: 220px; border: 2px solid black;">
          <img  src="https://m.media-amazon.com/images/I/71BVrR984ZL._AC_UL320_.jpg" style="width: 200px; height: 220px;">
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
