<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar color="medium">
      <ion-buttons slot="start">
        <ion-back-button style="color: black;" defaultHref="/"></ion-back-button>
      </ion-buttons>
      
      <ion-title style="color: black;">Shirt</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col col-6 col-sm-3>
        <ion-router-link routerLink="/shirt1">
        <ion-card style="height: 220px; border: 2px solid black;">
          <img  src="assets/Image/kawan.png" style="width: 200px; height: 220px;">
        </ion-card>
        </ion-router-link>
      </ion-col>
        <ion-col col-6 col-sm-3>
          <ion-router-link routerLink="/shirt2">
          <ion-card style="height: 220px; border: 2px solid black;">
            <img  src="assets/Image/kcc.png" style="width: 200px; height: 220px;">
          </ion-card>
          </ion-router-link>
        </ion-col>
      </ion-row>
    <ion-row>
      <ion-col col-6 col-sm-3>
        <ion-router-link routerLink="/shirt3">
        <ion-card style="height: 220px; border: 2px solid black;">
          <img  src="assets/Image/vb.png" style="width: 200px; height: 220px;">
        </ion-card>
        </ion-router-link>
      </ion-col>
      <ion-col col-6 col-sm-3>
        <ion-router-link routerLink="/shirt4">
        <ion-card style="height: 220px; border: 2px solid black;">
          <img  src="assets/Image/geos.png" style="width: 200px; height: 220px;">
        </ion-card>
        </ion-router-link>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6 col-sm-3>
        <ion-router-link routerLink="/shirt5">
        <ion-card style="height: 220px; border: 2px solid black;">
          <img  src="assets/Image/rug.png" style="width: 200px; height: 220px;">
        </ion-card>
        </ion-router-link>
      </ion-col>
      <ion-col col-6 col-sm-3>
        <ion-router-link routerLink="/shirt6">
        <ion-card style="height: 220px; border: 2px solid black;">
          <img  src="assets/Image/swim.png" style="width: 200px; height: 220px;">
        </ion-card>
        </ion-router-link>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
