<ion-content [fullscreen]="true" class="ion-align-items-center ion-justify-content-center">
  <ion-header>
    <ion-toolbar color="medium">
      <ion-buttons slot="start">
        <ion-back-button style="color: black;" defaultHref="/book"></ion-back-button>
      </ion-buttons>
      <ion-title style="color: black;">Book Detail</ion-title>
    </ion-toolbar>
  </ion-header>
    <br>
    <br>
  <div style="display: flex; justify-content: center; align-items: center;">
    <img style="border: 2px solid; color:black; border-radius: 10%;" src="https://nollybook.com/cdn/shop/products/56196728._SY475_180x.jpg?v=1627228201" />
  </div>

  <ion-card style="border: 2px solid; color:black;">
    <ion-card-header>
      <ion-card-title>Animal Farm (Collins Classics)
    
        
        </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ul>
        <li>George Orwell</li>
        <li>Brand:HarperCollins</li>
        <li>$10.90</li>
      </ul>
    </ion-card-content>
  </ion-card>

  <div style="display: flex; justify-content: center; align-items: center;">
    <ion-button id="open-action-sheet" shape="round" style="color: black; border: 2px solid; border-radius: 45px;">
      <ion-icon name="cart"></ion-icon>
      Add to cart
    </ion-button>
  </div>

  <ion-action-sheet trigger="open-action-sheet" header="Are you sure want to add this to cart?" [buttons]="actionSheetButtons"></ion-action-sheet>
</ion-content>
